---
layout: handbook-page-toc
title: "GitLab 10 Year Anniversary Community Activities"
canonical_path: "/community/ten-year/"
description: Join us for the 10 year anniversary of GitLab's first commit. 
---

## On this page
{:.no_toc}

- TOC
{:toc}


# <i class="fas fa-birthday-cake"></i> GitLab turns 10

GitLab celebrates the 10th anniversary of the first commit on October 8th. We’re planning a number of ways to celebrate this milestone with the wider community! We would like everyone to celebrate together and feel aligned in one big remote party! 🥳

## How to get involved 

Here are a few ways you can participate throughout GitLab's 10th year! From hosting a meetup, sharing on social, or write a blog -- these are all valuable contributions that we value. Read on to learn more. 

**Check out our [Social Promo Kit](https://drive.google.com/drive/u/1/folders/1MhcAj-H0hw7j2iFF6CtK_c4mkeWDeXTk) for designs to help you celebrate alongside us!**

## Meetups
We would love to support you in organizing a virtual meetup or helping you to find a meetup you can join. 

### Organize a _virtual_ meetup
_Note: we are currently not able to sponsor in-person events and strongly encourage virtual events._

Here are some tips for people interested in in hosting a meetup.  

#### Checklist

 1. <i class="far fa-calendar-alt"></i> Choose a date. Hosting a meetup around October 8, 2021 will be seen as especially relevant, but we encourage you to celebrate with us throughout GitLab's 10th year.
 1. <i class="far fa-clock"></i> Choose a time that best fits your timezone, each event should be no longer than **1 hour**.
 1. <i class="far fa-list-alt"></i> Create an issue using the [virtual-meetup issue template](https://gitlab.com/gitlab-com/marketing/community-relations/evangelist-program/general/-/issues/new?issuable_template=virtual-meetup). You will need to be logged in to GitLab to view and use the issue template.
 1. <i class="fas fa-users"></i> Post your event on [meetup.com](https://www.meetup.com/home/): each meetup should be titled: `Celebrating 10 Years of GitLab in [City of meetup group]`. 
 1. Resources: 
    - [How to host a GitLab virtual meetup](https://about.gitlab.com/community/meetups/checklist/#planning-a-virtual-meetup)
    - [Hosting an online meetup on Meetup.com](https://help.meetup.com/hc/en-us/articles/360040609112-Hosting-an-online-event-on-Meetup)
    - Contact Jamie, Evangelist Program Manager, jrachel@gitlab.com for any additional assistance. 
    
#### Content Ideas
<i class="far fa-lightbulb"></i> Share your own experience (technical or non-technical), about how GitLab has impacted your life. This could include how you were first introduced to GitLab and/or what your favorite or most useful GitLab hack is. Examples: Highlight how you use GitLab for day-to-day project management, open source contributions, career development, demo your favorite hack, etc.
 * <i class="far fa-edit"></i> Sample meetup agenda:
    - Welcome: Open the meeting by introducing yourself and sharing what the meetup is about (5mins)
    - Speaker 1: GitLab impact - How you started as a contributor and became a meetup organizer (15 mins)
    - Speaker 2: My favorite GitLab Hack [DEMO] (15 mins)
    - Speaker 3: How I use GitLab for day-to-day project management (15 mins)
    - Open chat (10 mins)

#### Resources
<i class="far fa-comments"></i> We have a [Social Media Kit](https://drive.google.com/drive/u/1/folders/1MhcAj-H0hw7j2iFF6CtK_c4mkeWDeXTk) which includes things like virtual backgrounds, banners, logos, and slide deck templates -- all branded with GitLab's 10 year anniversary logo!

<i class="fas fa-bullhorn"></i> Each meetup will be amplified by GitLab, and we'd love to share photos of your event! Try taking a "group photo" with attendees, and screenshots throughout the event. Make sure you receive permission from people in the photo to use the photo, and post them on social media using the hashtag **#10YearsOfGitLab**

<i class="fas fa-gift"></i> Organizers will recieve a thank you gift (delivery date may be delayed).

### Attend a meetup 

Check out the complete list of upcoming events at GitLab Turns 10. Find a meetup in your community or start one by following the steps above.

Additional events will be added throughout the year.

## Show & Tell | share your story

### Photos or videos
**Share a photo or short video** with us to highlight your time being part of the GitLab community! Both users and contributors are welcome!

Photos can be sent directly to John (jcoghlan@gitlab.com). If you’re open to being in a video, please contact John and he will work with you on a concept and set up a time to record.  

### Write a blog post

Write about your experience using or contributing to GitLab. We'd love to hear about how GitLab has impacted your life! 

For example, how were you first introduced to GitLab, has being part of the GitLab community helped you with professiona or personal development, what's your favorite or most useful GitLab hack? Creativity welcome!

**Once your blog post is live, fill out this [form](https://forms.gle/b3ortSZXNx5EHgK59) so that we can help amplify it!**

### Share on social media

Let folks know how GitLab has impacted your life, especially around the commit-aversary date on October 8, 2021. Blog posts that come later are still welcome and encouraged! Feel free to share about your favorite GitLab contribution, Swag you've received (share a pic!), or a favorite hack. 

Remember to add the official hashtag to each post: **#10YearsOfGitLab**

## Contribute to GitLab

In addition to celebrating the 10th anniversary of the GitLab open source project, GitLab Inc. will be participating in Hacktoberfest, an event dedicated to increasing contributions to open source projects that's now in its eighth year. This has been widely requested by the open source community for years, so we’re thrilled to see GitLab support rolled out!


It’s easy, sign up on the [Hacktoberfest website](https://hacktoberfest.digitalocean.com/) using your GitLab account and explore the available projects to contribute.

### How

At GitLab, we want to make it easy for everyone to contribute by offering diverse opportunities to participate. Back-end or front-end, localization or tech writing, getting started or experienced contributor, GitLab team members have hand picked a series of issues and epics available for everyone to contribute to during Hacktoberfest.

Find these opportunities through the Hacktoberfest website, or by [searching for projects that have added the “Hacktoberfest” topic](https://gitlab.com/explore/projects?topic=hacktoberfest) on GitLab. You can also get started contributing to GitLab projects by visiting the [contributing guide](https://about.gitlab.com/community/contribute/).

If you need help, you can always reach out via our `#contribute` channel in [Discord](https://discord.gg/gitlab), where GitLab team members and GitLab contributors hang out.

### Treats galore!

To celebrate the launch of Hacktoberfest on the GitLab ecosystem, we’re offering GitLab swag to the five contributors with the highest number of accepted merge requests to the GitLab open source project. Merge requests to GitLab created in October 2021 and merged by the 15th of November will count towards this initiative.

We’re also sending GitLab swag to all contributors whose first merge request to the GitLab open source project is created and merged during that time, so newcomers are very welcome!

Happy contributing! 
